.gd-bottom-drawer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0;
  overflow: hidden;
  transition: all 1s;
  background-color: #eeeeee;
  z-index: 500;
  border-radius: 25px 25px 0px 0px;
}

.gd-bottom-drawer-back {
  width: 0;
  height: 0;
  top: 0;
  left: 0;
}

.gd-bottom-drawer-back.gd-bottom-drawer-back-open {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 400;
}

.gd-bottom-drawer.gd-bottom-drawer-open {
  bottom: 0;
  height: 50%;
}

/*# sourceMappingURL=BottomDrawer.css.map */
