.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: #ccc;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ED5565;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ED5565;
  cursor: pointer;
}

.gd-text-input {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14pt;
  -webkit-appearance: none;
  opacity: 0.7;
  padding: 15px;
  transition: all 0.2s;
  border-width: 3px;
  border-style: solid;
  border-color: black;
}

.gd-text-input:focus {
  opacity: 1;
  border-width: 1px;
}

.gd-spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.gd-spinner-col {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
}

.gd-text-input.gd-color-primary {
  border-color: #F66459;
  color: #F66459;
}

/*
.gd-input-fill.gd-color-primary {
  background-color: $color;
  color: #FFFFFF;
}
.gd-input-outline.gd-color-primary{

  border-color: $color;
  background-color: transparent;
  color: $color;

}*/
.gd-text-input.gd-color-black {
  border-color: #000000;
  color: #000000;
}

/*
.gd-input-fill.gd-color-black {
  background-color: $color;
  color: #FFFFFF;
}
.gd-input-outline.gd-color-black{

  border-color: $color;
  background-color: transparent;
  color: $color;

}*/

/*# sourceMappingURL=Input.css.map */
