@import "../../vars";
//@font-face {
//  font-family: 'Material Icons';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Material Icons'),
//  local('MaterialIcons-Regular'),
//  url(/fonts/MaterialIcons-Regular.woff) format('woff')
//}
///* montserrat-regular - latin */
//@font-face {
//  font-family: 'Montserrat';
//  font-style: normal;
//  font-weight: 400;
//  src: url('/fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
//  src: local('Montserrat Regular'), local('Montserrat-Regular'),
//  url('/fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//  url('/fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
//  url('/fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('/fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
//
///* montserrat-600 - latin */
//@font-face {
//  font-family: 'Montserrat';
//  font-style: normal;
//  font-weight: 600;
//  src: url('/fonts/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
//  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
//  url('/fonts/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('/fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
//  url('/fonts/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
//  url('/fonts/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('/fonts/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
//}



$color: #ED5565;
//$bkg: #fdab9b;
$bkg: #ccc;
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background: $bkg;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $color;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $color;
  cursor: pointer;
}


.gd-text-input{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14pt;

  -webkit-appearance: none;
  opacity: 0.7;

  padding: 15px;
  transition: all .2s;

  border-width: 3px;
  border-style: solid;
  border-color: black;
}


.gd-text-input:focus{
  opacity: 1;
  border-width: 1px;
}

.gd-spinner-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.gd-spinner-col{
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1
}
@mixin inputColor($color, $colorClass){

.gd-text-input.#{$colorClass}{
  border-color: $color;
  color: $color;
}
  /*
  .gd-input-fill.#{$colorClass} {
    background-color: $color;
    color: #FFFFFF;
  }
  .gd-input-outline.#{$colorClass}{

    border-color: $color;
    background-color: transparent;
    color: $color;

  }*/
}

@include inputColor($gd-color-primary, "gd-color-primary");
@include inputColor($gd-color-black, "gd-color-black");

