@import "../../vars";
///*@font-face {
//  font-family: 'Material Icons';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Material Icons'),
//  local('MaterialIcons-Regular'),
//  url(/fonts/MaterialIcons-Regular.woff) format('woff')
//}
//@font-face {
//  font-family: 'Montserrat';
//  font-style: normal;
//  font-weight: 400;
//  src: url('/fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
//  src: local('Montserrat Regular'), local('Montserrat-Regular'),
//  url('/fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('/fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
//  url('/fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
//  url('/fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('/fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
//}
//
//@font-face {
//  font-family: 'Montserrat';
//  font-style: normal;
//  font-weight: 600;
//  src: url('/fonts/montserrat-v14-latin-600.eot'); /* IE9 Compat Modes */
//  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
//  url('/fonts/montserrat-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//  url('/fonts/montserrat-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
//  url('/fonts/montserrat-v14-latin-600.woff') format('woff'), /* Modern Browsers */
//  url('/fonts/montserrat-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
//  url('/fonts/montserrat-v14-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
//}*/

//$gd-color-primary: #0000FF;

.gd-button{
  display: inline-block;
  border: none;
  margin: 0;
  text-decoration: none;
  background-color: #0069ed;
  color: #ffffff;
  font-size: 16pt;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out,
  transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: 'Montserrat', sans-serif;
  padding: 10pt;
}



.gd-button-full{
  width: 100%;
  height: 100%;
}
.gd-button-large{
  padding: 15pt;
}

.gd-button-small{
  padding: 5pt;
}

.gd-button-rounded{
  border-radius: 10px;
}
.gd-button-pill{
  border-radius: 30px;
}


.gd-button-outline{
  border-width: 3px !important;
  border-style: solid;
  background-color: transparent;
}



@mixin buttonColor($color, $colorClass){
  .gd-button-fill.#{$colorClass} {
    background-color: $color;
    color: #FFFFFF;
  }
  .gd-button-outline.#{$colorClass}{

    border-color: $color;
    background-color: transparent;
    color: $color;

  }
}

@include buttonColor($gd-color-primary, "gd-button-primary");
@include buttonColor($gd-color-black, "gd-button-black");

.gd-button-full:hover{
  @extend .gd-button-outline;
  background: transparent;
}

.gd-button-outline:hover{
  @extend .gd-button-fill;
}