.gd-h1, .gd-h2, .gd-h3, .gd-h4, .gd-paragraph {
  font-family: "Montserrat", sans-serif;
}

.gd-h1 {
  font-size: 36pt;
}

.gd-h2 {
  font-size: 30pt;
  font-weight: 400;
}

.gd-h3 {
  font-size: 24pt;
  font-weight: 400;
}

.gd-h4 {
  font-size: 18pt;
}

.gd-paragraph {
  font-size: 12pt;
  line-height: 1.5;
  white-space: pre-wrap !important;
}

/*# sourceMappingURL=Text.css.map */
