html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.gd-app {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/*# sourceMappingURL=GambiApp.css.map */
